apiVersion: apps/v1
kind: Deployment

metadata:
  name: myapp
  labels:
    app: myoptional

spec:
  replicas: 3
  selector:
    matchLabels:
      app: myapp

  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: mycontainername
          image: myimage
          ports:
            - containerPort: 500
